body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
}

a {
    text-decoration: none;
}

.admin_controller {
    background-color: rgb(214, 135, 135);
    padding: 2%;
    margin-bottom: 2%;
    width: 65%;
    height: auto;
}

.actions_controller {
    display: flex;
    flex-wrap: wrap;
}

.actions_controller a {
    margin-right: 2%;
    margin-bottom: 2%;
}

.entete {
    display: flex;
    justify-content: space-between;
}

.controllers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.informations_controller, .comptes_controller, .beneficiaires_controller, .transactions_controller {
    background-color: rgb(142, 193, 238);
    padding: 2%;
    margin-bottom: 2%;
    width: 45%;
    height: auto;
}

h1, h2 {
    margin-top: 0px;
}

.informations_controller {

}

.comptes_controller {

}

.beneficiaires_controller {

}

.transactions_controller {

}

.form {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 10%;
    padding: 4% 6%;
    background-color: rgb(165, 228, 207);
    display: block;
    justify-content: center;
}

.message {
    margin-bottom: 2%;
}

.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 5% 5%;
    background-color: white;
    color: #444444;
    padding: 1%;
}

.supp {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #444444;
    border-radius: 5% 5%;
    color: #444444;
    padding: 1%;
    margin-top: 2%;
}

.logout {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #444444;
    border-radius: 5% 5%;
    color: #444444;
    padding: 1%;
    margin-right: 2%;
    height: fit-content;
    width: fit-content;
}

.btn:hover, .btn:focus {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
}

.supp:hover, .supp:focus {
    background-color: rgb(125, 170, 209);
    border: 1px solid #444444;
}

.logout:hover, .logout:focus {
    background-color: whitesmoke;
    border: 1px solid #444444;
}

.index {
    width: 70%;
    height: auto;
    background-color:  rgb(142, 193, 238);
    margin: auto;
    padding: 5%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

thead, th {
    text-align: left;
}

td, th {
    border: 1px solid #444444;
    padding: 1%;
}

td a {
    margin: 1%;
}