{% extends 'base.html.twig' %}

{% block title %}New Beneficiaire{% endblock %}

{% block body %}
<div class="form">
    <h1>Create new Beneficiaire</h1>

    {{ include('beneficiaire/_form.html.twig') }}

    <br/>
    <a class="btn" href="{{ path('index') }}">Accueil</a>
</div>
{% endblock %}
